
html, body {
margin: 0;
padding: 0;
font-family: 'Arial', sans-serif;				
font-size: 1.1em;
text-align: center;
color: #FFFFFF;
			}

.main header,
.main footer,
.hg-sidebar,
.main-content {
	
	padding: 20px;

}


.main header,
.main footer {
background: #ff93cb;
			}

.hg-sidebar {
background: #fec6e8;
			}

			/**
			 * Flex things:
			 * — Mobile first
			 * — Responsive
			 */

.main {
min-height: 100vh;
}

.main,
.main-body {
        
display: flex;
flex: 1 1 auto;
flex-direction: column;
}

.main-content {
	flex: 1 1 auto;
    color: #6b5c5c;
			}

@media (min-width: 768px) {

.main-sidebar-1 {
order: -1;
		}
            
.main-body {
flex-direction: row;
	}
        
.hg-sidebar {
flex: 0 0 260px;
}
        
}